body {
  background: #000;
  font-family: 'Tahoma', sans-serif;
  font-size: 14px;
}

a,
a:visited {
  color: #222
}

a:hover {
  color: #333
}

.attribution {
  display: block;
  margin: 20px;
  text-align: right;
}

.display {
  border: solid 1px #fff;
}

.display img {
  width: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.display img.pixelate {
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-image: url('./mask.png');
  -webkit-mask-image: url('./mask.png');
}
